body:before,
body:after {
  content: "";
  position: fixed;
  background: #900;
  left: 0;
  right: 0;
  height: 100px;
}
body:before {
  top: 0;
}
body:after {
  bottom: 0;
}
body {
  border-left: 100px solid #900;
  border-right: 100px solid #900;
}
